body {
    margin: 0;
    background: black;
    color: white;
}

/* HEADER ELEMENTS*/
header {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3rem;
    position: fixed;
    overflow: hidden;
}

header i {
    cursor: pointer;
}

.topNav {
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}

.burgerNav {
    height: 3rem;
    padding: 0 1rem;
}

h4 {
    flex-direction: column;
    align-items: flex-end;
}

a:hover {
    text-decoration: none;
    color: black;
}



/* MAIN ELEMENTS */
main {
    height: 100vh;
    margin-top: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 1rem;
    color: rgb(134, 91, 121);
    text-align: center;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

.contactDetails a:hover {
    text-decoration: none;
    color: rgb(134, 91, 121);
}

.contactDetails > :first-child {
    padding: 0 3rem 0 0;
}

.contactDetails > :nth-child(3) {
    padding: 0 0 0 3rem;
}

/* RESUABLE CLASSES */
.flex {
    display: flex;
}
