/* MAIN ELEMENTS*/
main {
    background: rgb(82, 82, 82);
}
.relative {
    position: relative;
}
.overlay-headers {
    position: absolute;
}

/* STICKY NAV BAR ELEMENTS */
.burgerNav {
    height: 4rem;
    padding-right: 1rem;
    position: sticky;
    top: 0; 
    overflow: hidden;
    z-index: 10000; 
}

.topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

main i {
    cursor: pointer;
}

h4 {
    display: flex;
    justify-content: flex-end;
}



/* ABOUT SECTION */
.aboutContainer {
    background: rgb(134, 91, 121); 
    text-align: center; 
}

.aboutImages {
    width: 50%;
}

.mobileAbout {
    display: none;
}

/* SLIDESHOW ELEMENTS */
.aboutSlides {
    background: rgb(134, 91, 121);;
}
  
.text {
    height: 100%;
    width: 100%;
    text-align: justify;
    padding: 1rem;
}
  
.aboutSlideshow {
    padding:  0 3rem; 
    position: relative;
}
  
/* Next & previous buttons. 
Much CSS copied from W3 schools. 
I do understand the code but I copied because I almost wanted it the same way*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    /* user-select: none; */
}
  
/* Position the "next button" to the right */
.next {
    right: 3rem;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


/* PROJECT SECTION */
#project {
    flex-wrap: wrap;
}

.projectContainer {
    position: relative;
    width: 40%;
    padding: 1rem;
}

.computerPicture {
    opacity: 1;
    display: block;
    width: 100%;
    /* height: auto; */
    transition: .5s ease;
    backface-visibility: hidden; /*taken from w3 schools*/
}

.hoverEffects {
    top: 50%;
    left: 50%;
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    transform: translate(-50%, -50%); /*taken from w3 schools*/
    -ms-transform: translate(-50%, -50%); /*taken from w3 schools*/
    text-align: center;
}

.projectTitle {
    background: rgb(134, 91, 121);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.projectContainer:hover .computerPicture {
    opacity: 0.3;
}
  
.projectContainer:hover .hoverEffects {
    opacity: 1;
}
