/* For tablet (unsure about the px cause my computer shows different than others */
@media (max-width: 600px) {
    .mobileAbout {
        display: block;
    }
    
    .aboutSlideshow {
        display: none;
    }
}

@media (max-width: 430px) {

    /* Both pages */
    h1 {
        font-size: 1.5rem;
    }

    /* Home Page */
    .myTitle {
        font-size: 0.8rem;
    }

    .displayedNav {
        font-size: 1.5rem;
    }

    .mobileAbout {
        display: block;
    }
    
    .aboutSlideshow {
        display: none;
    }

    /* Contact Page */


    .contactDetails {
        display: flex;
        font-size: 1rem;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    .contactDetails > :first-child {
        padding: 0;
    }
    
    .contactDetails > :nth-child(3) {
        padding: 0;
    }
 
    
}