html {
    scroll-behavior: smooth;
    font-family: 'EB Garamond', serif;
}
body {
    margin: 0;
    background: black;
    color: white; /* BEHÖVS DENNA??*/
}

/* HEADER ELEMENTS*/
header {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh; /* vh kan medföra problem */ 
}

.headerPresentation {
    height: 100vh; /* en av dess ska bort */
}

.pictureOfMe {
    position: absolute; 
    /* visibility: visible;  */
    bottom: 0;
    left: 25%; 
    width: 70%; 
}

.displayedNav {
    flex-direction: column;
    padding: 0 0 0 10%;
    font-size: 2rem;
    z-index: 100; /* BEHÖVS DENNA???*/
}

h1 {
    color: rgb(134, 91, 121);
    /* font-size: 5rem; */
    font-size: 100%;
    margin: 5rem 0 0 0;
    flex-direction: column;
    /* border-spacing: 0; */
}

.myTitle {
    color: rgb(134, 91, 121);
    font-size: 1.2rem;
    margin: 0;
    line-height: 0;
}

h3 {
    font-size: x-large;
    margin: 5%;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: black;
}
.displayedNav > a:hover {
    text-decoration: none;
    color: rgb(134, 91, 121);
}


/* FOOTER ELEMENTS */
footer > img{
    height: 2rem;
}


/* REUSABLE CLASSES */ 
.flex {
    display: flex;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
} 
