body {
    margin: 0;
    background: black;
    color: white;
}

/* HEADER ELEMENTS*/
header {
    background: mediumorchid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3rem;
    position: fixed;
    overflow: hidden;
}

/* Gör att musen blir en pekare på menyn */
header i {
    cursor: pointer;
}

.topNav {
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}

.burgerNav {
    height: 3rem;
    padding: 0 1rem;
}

h4 {
    flex-direction: column;
    align-items: flex-end;
}


/* MAIN ELEMENTS */
main {
    height: 100vh;
    margin-top: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .contactDetails {
    line-height: 45px;
    row-gap: 10rem; FUNKAR EJ
} */

h1 {
    padding: 1rem;
}

.contactDetails > a:link {
    text-decoration: none;
    color: white;
}
   
.contactDetails > a:visited {
    text-decoration: none;
    color: white;
}

.contactDetails a:hover {
    text-decoration: none;
    color: rgb(135, 220, 231);
}

.contactDetails > :first-child {
    padding: 0 5rem;
}

.contactDetails > :nth-child(3) {
    padding: 0 5rem;
}

/* RESUABLE CLASSES */

.flex {
    display: flex;
}



/* CSS to form I will be using once I know how it works */
/* input {
    background: rgb(238, 230, 230);
    width: 15rem;
    height: 1.8rem;
    border-radius: 1000px;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    flex: .7;
    align-items: center;
    padding: 0 2rem 2rem 2rem;
}

.form-inputs {
    height: 2rem;
    width: 13rem;
    border-radius: 10px;
    border: none;
}

.message {
    height: 8rem;
}

button {
    color: white;
    background: rgb(50, 73, 28);
    font-size: 1rem;
} */